.ending {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    color: var(--clr-secondary);
    position: relative;
    height: 70vh;
    padding-bottom: 0;
}

.ending__title {
    font-size: var(--size-4xl);
    font-family: "Great vibes", cursive;
    text-transform: capitalize;

    margin: var(--size-3xl) 0 var(--size-xxs);
}

.ending__word {
    font-size: var(--size-base);
    font-family: "Crimson Pro", "Cormorant Garamond", serif;
    text-align: center;

    margin: var(--size-xxs) 0;
}

.ending__closer {
    font-size: var(--size-base);
    font-weight: bolder;
}

.ending__closing {
    font-size: var(--size-2xl);
    font-family: "Great Vibes", "Cormorant Garamond", 'Times New Roman', Times, serif;
}

.ending__paragraph {
    font-family: "Cormorant Garamond", 'Times New Roman', Times, serif;
    font-size: var(--size-sm);
    text-shadow: .3px 0px .3px rgb(78, 54, 32);
}

/* xs */
@media (min-width : 475px) {

    .ending__title {
        font-size: var(--size-5xl);
        margin: var(--size-4xl) 0 var(--size-xxs);
    }

    .ending__word {
        font-size: var(--size-lg);
    }

    .ending__closer {
        font-size: var(--size-lg);
    }

    .ending__closing {
        font-size: var(--size-3xl);
    }

    .ending__paragraph {
        font-size: var(--size-base);
    }
}

/* sm */
@media (min-width : 640px) {
    .ending__title {
        font-size: var(--size-6xl);
        margin: var(--size-5xl) 0 var(--size-xxs);
    }

    .ending__word {
        font-size: var(--size-xl);
    }

    .ending__closer {
        font-size: var(--size-xl);
    }

    .ending__closing {
        font-size: var(--size-4xl);
    }

    .ending__paragraph {
        font-size: var(--size-lg);
    }
}

/* md */
@media (min-width : 768px) {
    .ending__title {
        font-size: var(--size-7xl);
        margin: var(--size-6xl) 0 var(--size-xxs);
    }

    .ending__word {
        font-size: var(--size-2xl);
    }

    .ending__closer {
        font-size: var(--size-2xl);
    }

    .ending__closing {
        font-size: var(--size-5xl);
    }

    .ending__paragraph {
        font-size: var(--size-xl);
    }
}

/* lg */
@media (min-width : 1024px) {

    .ending {
        height: 100vh;
    }

    .ending__title {
        font-size: var(--size-4xl);
        margin: var(--size-4xl) 0 var(--size-xxs);
    }

    .ending__word {
        font-size: var(--size-base);
    }

    .ending__closer {
        font-size: var(--size-lg);
    }

    .ending__closing {
        font-size: var(--size-3xl);
    }

    .ending__paragraph {
        font-size: var(--size-base);
    }
}

/* xl */
/* @media (min-width : 1280px) {} */

/* 2xl */
/* @media (min-width : 1536px) {} */