.comment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--size-2xl);

    color: var(--clr-secondary);

    position: relative;
}

.comment__title {
    font-family: "Dancing Script", "Cormorant Garamond", serif;
    font-size: var(--size-2xl);
    text-shadow: 1px 0px 0px rgb(78, 54, 32);
}

.comment__container {
    display: flex;
    flex-direction: column;
    gap: var(--size-base);
}

.comment__item {
    display: flex;
    justify-content: start;
    align-items: start;
    gap: var(--size-xl);

    z-index: 2;
}

.comment__account {
    width: var(--size-4xl);
    height: var(--size-4xl);
    padding: var(--size-base);
    background-color: var(--clr-secondary);
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--clr-highlight);
    font-size: var(--size-lg);
}

.comment__bubble {
    position: relative;

    display: flex;
    flex-direction: column;

    width: 100%;
    box-shadow: 1px 1px 15px 5px rgba(78, 54, 32, .3);
    padding: var(--size-xxs) var(--size-sm);
    border-radius: 10px;
    background-color: var(--clr-third);
}

.comment__bubble::before {
    content: '';
    left: calc(var(--size-xs) * -1);
    position: absolute;

    border-top: var(--size-sm) solid transparent;
    border-right: var(--size-base) solid var(--clr-third);
    border-bottom: 14px solid transparent;
}

.account__name {
    font-weight: bold;
    font-family: "Great Vibes";
    font-size: var(--size-lg);

    margin-bottom: var(--size-xxs);
}

.account__place {
    font-family: "Crimson Pro", serif;
    font-size: var(--size-xs);
    font-weight: normal;

    margin-left: 5px;
}

.account__comment {
    font-size: var(--size-sm);
}

/* xs */
@media (min-width : 475px) {
    .comment {
        gap: var(--size-3xl);
    }

    .comment__title {
        font-size: var(--size-3xl);
    }

    .comment__container {
        gap: var(--size-lg);
    }

    .comment__item {
        gap: var(--size-2xl);
    }

    .comment__account {
        padding: var(--size-lg);
        width: var(--size-4xl);
        height: var(--size-4xl);
        font-size: var(--size-xl);
    }

    .comment__bubble {
        padding: var(--size-xs) var(--size-base);
    }

    .account__name {
        margin-bottom: var(--size-xs);
        font-size: var(--size-xl);
    }

    .account__place {
        font-size: var(--size-sm);
    }

    .account__comment {
        font-size: var(--size-base);
    }
}

/* sm */
@media (min-width : 640px) {
    .comment {
        gap: var(--size-4xl);
    }

    .comment__title {
        font-size: var(--size-4xl);
    }

    .comment__container {
        gap: var(--size-xl);
    }

    .comment__item {
        gap: var(--size-3xl);
    }

    .comment__account {
        padding: var(--size-xl);
        width: var(--size-5xl);
        height: var(--size-5xl);
        font-size: var(--size-2xl);
    }

    .comment__bubble {
        padding: var(--size-sm) var(--size-lg);
    }

    .account__name {
        margin-bottom: var(--size-sm);
        font-size: var(--size-2xl);
    }

    .account__place {
        font-size: var(--size-base);
    }

    .account__comment {
        font-size: var(--size-lg);
    }
}

/* md */
@media (min-width : 768px) {
    .comment {
        gap: var(--size-5xl);
    }

    .comment__title {
        font-size: var(--size-5xl);
    }

    .comment__container {
        gap: var(--size-2xl);
    }

    .comment__item {
        gap: var(--size-4xl);
    }

    .comment__account {
        padding: var(--size-2xl);
        width: var(--size-6xl);
        height: var(--size-6xl);
        font-size: var(--size-3xl);
    }

    .comment__bubble {
        padding: var(--size-base) var(--size-xl);
    }

    .account__name {
        margin-bottom: var(--size-base);
        font-size: var(--size-3xl);
    }

    .account__place {
        font-size: var(--size-lg);
    }

    .account__comment {
        font-size: var(--size-xl);
    }
}

/* lg */
@media (min-width : 1024px) {
    .comment {
        gap: var(--size-3xl);
    }

    .comment__title {
        font-size: var(--size-3xl);
    }

    .comment__container {
        gap: var(--size-lg);
    }

    .comment__item {
        gap: var(--size-2xl);
    }

    .comment__account {
        padding: var(--size-lg);
        width: var(--size-4xl);
        height: var(--size-4xl);
        font-size: var(--size-xl);
    }

    .comment__bubble {
        padding: var(--size-sm) var(--size-lg);
    }

    .account__name {
        margin-bottom: var(--size-xs);
        font-size: var(--size-xl);
    }

    .account__place {
        font-size: var(--size-sm);
    }

    .account__comment {
        font-size: var(--size-base);
    }
}

/* xl */
/* @media (min-width : 1280px) {} */

/* 2xl */
/* @media (min-width : 1536px) {} */