.comment-form__container {
    display: flex;
    flex-direction: column;
    gap: var(--size-lg);
    color: var(--clr-secondary);
    font-family: "Crimson Pro", 'Times New Roman', Times, serif;
    text-align: center;
    font-size: var(--size-base);
}

.comment-form__info {
    display: flex;
    justify-content: space-evenly;
    padding: var(--size-2xl);
    gap: var(--size-2xl);
}

.comment-form__info-item {
    background-color: var(--clr-secondary);
    color: var(--clr-third);
    padding: 3px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: var(--size-7xl);
    height: var(--size-7xl);
    font-size: var(--size-base);
}

.comment-form__info-item span {
    font-size: var(--size-xxs);
}

.comment-form__info-item.hadir {
    background-color: var(--clr-third);
    color: var(--clr-secondary);
}

.comment-form__input,
.comment-form__select {
    padding: var(--size-sm) var(--size-xl);
    border: none;
    border-radius: 5px;
    color: var(--clr-secondary);
    outline-color: var(--clr-third);
}

.comment-form__select {
    padding: var(--size-sm) var(--size-lg);
}

.comment-form__input:focus,
.comment-form__select:focus {
    outline-color: var(--clr-primary);
    outline-width: 3px;
}

.comment-form__btn {
    background-color: var(--clr-third);
    color: var(--clr-secondary);
    padding: 3px 6px;
    transition: all .3s ease-in;
}

.comment-form__btn:hover {
    background-color: var(--clr-secondary);
    color: var(--clr-third);
}

.status {
    font-size: var(--size-lg);
}


/* xs */
@media (min-width : 475px) {
    .comment-form__container {
        gap: var(--size-xl);
        font-size: var(--size-lg);
    }

    .comment-form__info-item {
        width: var(--size-8xl);
        height: var(--size-8xl);
        font-size: var(--size-lg);
    }

    .comment-form__info-item span {
        font-size: var(--size-sm);
    }

    .comment-form__input,
    .comment-form__select {
        padding: var(--size-base) var(--size-2xl);
    }

    .comment-form__select {
        padding: var(--size-base) var(--size-xl);
    }

    .status {
        font-size: var(--size-xl);
    }

}

/* sm */
@media (min-width : 640px) {
    .comment-form__container {
        gap: var(--size-2xl);
        font-size: var(--size-xl);
    }


    .comment-form__info-item {
        width: var(--size-9xl);
        height: var(--size-9xl);
        font-size: var(--size-xl);
    }

    .comment-form__info-item span {
        font-size: var(--size-base);
    }

    .comment-form__input,
    .comment-form__select {
        padding: var(--size-lg) var(--size-3xl);
    }

    .comment-form__select {
        padding: var(--size-lg) var(--size-2xl);
    }

    .status {
        font-size: var(--size-2xl);
    }
}

/* md */
@media (min-width : 768px) {
    .comment-form__container {
        gap: var(--size-3xl);
        font-size: var(--size-2xl);
    }

    .comment-form__info-item {
        width: var(--size-10xl);
        height: var(--size-10xl);
        font-size: var(--size-2xl);
    }

    .comment-form__info-item span {
        font-size: var(--size-lg);
    }

    .comment-form__input,
    .comment-form__select {
        padding: var(--size-xl) var(--size-4xl);
    }

    .comment-form__select {
        padding: var(--size-xl) var(--size-3xl);
    }

    .status {
        font-size: var(--size-3xl);
    }
}

/* lg */
@media (min-width : 1024px) {
    .comment-form__container {
        gap: var(--size-xl);
        font-size: var(--size-lg);
    }

    .comment-form__info-item {
        width: var(--size-8xl);
        height: var(--size-8xl);
        font-size: var(--size-lg);
    }

    .comment-form__info-item span {
        font-size: var(--size-sm);
    }

    .comment-form__input,
    .comment-form__select {
        padding: var(--size-base) var(--size-xl);
    }

    .comment-form__select {
        padding: var(--size-sm) var(--size-base);
    }

    .status {
        font-size: var(--size-xl);
    }
}

/* xl */
/* @media (min-width : 1280px) {} */

/* 2xl */
/* @media (min-width : 1536px) {} */